
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Quiz Questions
        <!--<small>Control panel</small>-->
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="row">
                            <div class="col-lg-12 mb-5">
                                <form class="form-inline" novalidate>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail3">Question</label>
                                        <input type="text" [(ngModel)]="params.question" name="question" class="form-control" placeholder="Question">
                                    </div>
                                    <button type="submit" (click)="getAll()" class="btn btn-primary">Search</button>
                                    <button type="button" (click)="resetSearch()" class="btn btn-info">Reset</button>
                                    <button [routerLink]="['/quiz/add']" type="button" class="btn btn-info pull-right">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Question</th>
                                <th>Status</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                            <tr *ngIf="loading">
                                <td colspan="4">
                                    <div class="cssload-loader">Loading</div>
                                </td>
                            </tr>
                            <tr *ngIf="(listData.length <= 0) && !loading">
                                <td colspan="4">
                                    <div class="alert alert-info alert-dismissable">
                                        <i class="fa fa-info-circle"></i> <strong>No quiz found!</strong>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngFor="let ld of listData">
                                <td>{{ld.question}}</td>
                                <td>
                                    <span *ngIf="ld.status == 1" class="label label-success">Active</span>
                                    <span *ngIf="ld.status == 2" class="label label-success">Inactive</span>
                                </td>
                                <td>{{ld.createdAt | date:'medium'}}</td>
                                <td>
                                    <a [routerLink]="['/quiz/edit', ld._id]" class="btn btn-social-icon btn-bitbucket"><i class="fa fa-pencil fa-lg"></i></a>
                                    <a href="javascript:void(0);" (click)="remove(ld._id);" class="btn btn-social-icon btn-bitbucket"><i class="fa fa-trash-o fa-lg"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>           

                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-3">
                            <select class="form-control" #prPage (change)="changePageLimit(prPage.value)">
                                <option *ngFor="let pgarr of config.perPageArray" [value]="pgarr.val" [selected]="pgarr.val == params.limit">{{pgarr.text}}</option>
                            </select>
                        </div>
                        <div class="col-sm-9">

                            <pagination class="pull-right" [totalItems]="totalItems" [itemsPerPage]="params.limit" [(ngModel)]="params.page" (pageChanged)="pageChanged($event)"
                                [maxSize]="5" [boundaryLinks]="true" [rotate]="false" previousText="&lsaquo;" nextText="&rsaquo;"
                                firstText="&laquo;" lastText="&raquo;"></pagination>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>